/* Cards */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card, .card:hover {
  margin: 10px;
  padding: 50px 15px;
  background-color: var(--bg-color);
  text-align: center;
  flex: 1 1 200px;
  max-width: 200px;
  max-height: 200px;
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: white;
  font-weight: 500;
  width: 100%;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.card img {
  color: var(--primary-color);
  width: 150px;
}

/* Card background images */
.card-1 {
  background-image: url('../images/vysek-1.jpeg');
}

.card-2 {
  background-image: url('../images/vysek-2.jpeg');
}

.card-3 {
  background-image: url('../images/vysek-3.jpeg');
}

.card-4 {
  background-image: url('../images/vysek-4.jpeg');
}

.card-5 {
  background-image: url('../images/vysek-5.jpeg');
}

.card-6 {
  background-image: url('../images/vysek-6.jpeg');
}