/* Cards */
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  background-color: var(--bg-color);
  text-align: center;
  flex: 0 0 auto;
  width: 230px;
  height: 230px;
  aspect-ratio: 1 / 1;
  font-size: 1.8rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: white;
  font-weight: 500;
  background-size: contain;
}

.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s;
}

.card p:hover,
.card:hover p {
  color: white;
}

/* Small screens */
@media only screen and (max-width: 480px) {
  .card {
    height: 100px;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px;
    background-size: cover;
  }
}

/* Card background images */
.card-1 {
  background-image: url('../images/vysek-1.jpeg');
}

.card-2 {
  background-image: url('../images/vysek-2.jpeg');
}

.card-3 {
  background-image: url('../images/vysek-3.jpeg');
}

.card-4 {
  background-image: url('../images/vysek-4.jpeg');
}

.card-5 {
  background-image: url('../images/vysek-5.jpeg');
}

.card-6 {
  background-image: url('../images/vysek-6.jpeg');
}
