.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header a, header a:hover {
  color: var(--text-color);
  text-decoration: none;
}

.background {
  background-image: url('../images/header_psychoterapeutka.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
  color: white;
}

.page {
  height: 100px;
}

.title {
  font-size: 3rem;
  padding: 25px;
  margin-bottom: 2rem;
}


.tagline {
  font-size: 1.8rem;
}

.header-page {
  margin: 1rem auto;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
