.navbar {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
}

.navbar a {
  display: inline-block;
  color: white;
  padding: 1.3rem;
  text-decoration: none;
}

.page a {
  color: black;
}

.navbar a:hover {
  color: var(--secondary-color);
}
