<footer>
  <p id="footer-text">
    <div id="kontakt" class="section">
      <p>Jana Sarah Kašáková </p>
      <p><a href="mailto:info@psychoterapeutka.sk">info@psychoterapeutka.sk</a></p>
      <p><a href="tel:00421905382194">+421 905 382 194</a></p>
    </div>

    <div>
      <a title="Psychoterapeutka | Jana Sarah Kašáková" href="/">Psychoterapeutka.sk</a>
      <span id="year"> © </span>
      | Vytvorené  
      <a href="https://seionline.ch" target="_blank">Sei Online</a>
    </div>
  </p>
</footer>
