<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="Psychoterapeutka - Jana Sarah Kašáková ">
<meta property="og:locale" content="sk_SK" />
<meta property="og:title" content="{{ {{ page.title }} }}">
<meta property="og:description" content="{{ page.description }}">
<meta property="og:type" content="Website">
<meta property="og:site_name" content="{{ page.title }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="TOOD">
<title>{{ page.title }}</title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="icon" href="/images/favicon.svg">
<link rel="canonical" href="https://psychoterapeutka.sk/" />
<link rel="shortcut-icon" href="images/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
<link rel="manifest" href="site.webmanifest">
<link rel="stylesheet" href="css/style.css">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Mono:wght@100..700&display=swap" rel="stylesheet">