<nav class="navbar {{ page.layout }}">
  <!-- Primary Navbar -->
  <div class="hidden">
    <a href="{{ site.baseurl }}{{ page.url }}/">Psychoterapeutka</a>
    <a href="{{ site.baseurl }}{{ page.url }}/o-mne">O mne</a>
    <a href="{{ site.baseurl }}{{ page.url }}/#kontakt">Kontakt</a>
  </div>

  <!-- Mobile menu button -->
  <button class="mobile-menu-button" aria-label="Hamburger menu button">
    <svg
      x-show="!showMenu"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke="#AF0A04"
    >
      <path d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </button>

  <!-- Mobile menu -->
  <div class="hidden mobile-menu">
    <ul>
      <li><a href="{{ site.baseurl }}{{ page.url }}/">Psychoterapeutka</a></li>
      <li><a href="{{ site.baseurl }}{{ page.url }}/o-mne">O mne</a></li>
      <li><a href="{{ site.baseurl }}{{ page.url }}/#kontakt">Kontakt</a></li>
    </ul>
  </div>
</nav>
