<!DOCTYPE html>
<html lang="sk">
  {%- include head.html -%}

  <body>
    {%- include header_home.html -%}

    <main class="main-page">
      {{ content }}
    </main>

    {%- include footer.html -%}

    <script>
      /* Get current year */
      const currentYear = new Date().getFullYear();
      const footerText = document.getElementById('year');
      footerText.innerHTML += currentYear;

      /* Hamburger icon */
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });

      menu.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
